<!DOCTYPE html>
<html>
<body class="container mt-5">

<h2>Novi plan</h2>

<form method="POST">

<input name="naziv" placeholder="Naziv" class="form-control mb-2">

<input name="broj" placeholder="Broj vježbi" class="form-control mb-2">

<input name="opis" placeholder="Opis vježbi" class="form-control mb-2">

<input name="trajanje" placeholder="Trajanje" class="form-control mb-2">

<input name="kalorije" placeholder="Kalorije" class="form-control mb-2">

<input name="proteini" placeholder="Proteini" class="form-control mb-2">

<input name="masti" placeholder="Masti" class="form-control mb-2">

<input name="uh" placeholder="Ugljikohidrati" class="form-control mb-2">

<button class="btn btn-success">Spremi plan</button>

</form>

</body>
</html>